<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leon.article">

    <application
        android:name=".app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.art.ArtDetailActivity" />
        <activity android:name=".Activity.art.ArticleActivity" />
        <activity android:name=".Activity.art.EditorActivity" />
        <activity android:name=".Activity.art.MySqlActivity" />
        <activity android:name=".Activity.bank.BankSettingActivity" />
        <activity android:name=".Activity.VIPCenterActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.BasicinformationActivity" />
        <activity android:name=".Activity.ForgetPwdActivity" />
        <activity android:name=".Activity.bank.AddCardActivity"></activity>
    </application>

</manifest>